/* .row_search div {
    border: 1px solid red;
    height: 50px;
} */
/* .row_content div {
    border: 1px solid red;
    height: 50px;
} */
.row_header {
    border-bottom: 1px solid gray;
    /* height: 50px; */
}
html body div p ul li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.header_link {
    height: 32px;    
}
.header_link div {
    /* border: 1px solid red; */
    height: 32px;
}
.header_link div a {
    line-height: 32px;
    font-weight: bold;
}
.header_href {
    line-height: 32px;
}
.header_href div {
    height: 32px;
    padding: 0 0 0 10px;
}
.header_href div a {
    line-height: 32px;
    font-weight: bold;
}
/* .aaa div {
    border: 1px solid red;
    height: 20px;
} */
.search_navi div {

}
.search_navi img {
    width: 156px;
    height: 44px;
}